#box{
    height: 200px;
    transition: filter 5s linear, height 2s ease-in-out;
}

#box:hover{
    filter: hue-rotate(-110deg);
    height: 320px;
    transition: height 2s ease-in 1s;
}

.code{
    width: fit-content !important;
    text-wrap: nowrap !important;
}

.test-area{
    width: 600px;
    display: flex;
    justify-content: center;
    padding: 50px;
}