fieldset label{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #0f0f0f;
    color: #b0b0b0;
    font-size: 1.1em !important;
    font-weight: 900 !important;
    height: 50px !important;
    padding-block: 10px;
    padding-inline: 10px;
    margin: 0 !important;
}

fieldset label span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content !important;
    width: fit-content !important;
}

fieldset{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

form > label{
    padding-block: 10px;
    background-color: #0f0f0f;
    border-radius: 20px;
    margin-block: 20px;
    color: #b0b0b0;
    font-weight: 600;
    font-size: 1.1em;
    display: flex;
    width: fit-content;
    justify-content: center;
    gap: 20px;
    padding-inline: 20px;
}

fieldset > label span{
    font-size: 1.1em;
}

.test-area{
    height: 500px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-area img{
    width: 250px;
}

.js-code-swap{
    width: 400px !important;
}

fieldset label{
    width: calc(50% - 20px / 2) !important;
}

form > label{
    width: 100% !important;
}

#box{
    animation-name: obroc;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


/*                                                
                                                           
KKKKKKKKK    KKKKKKKYYYYYYY       YYYYYYY   SSSSSSSSSSSSSSS 
K:::::::K    K:::::KY:::::Y       Y:::::Y SS:::::::::::::::S
K:::::::K    K:::::KY:::::Y       Y:::::YS:::::SSSSSS::::::S
K:::::::K   K::::::KY::::::Y     Y::::::YS:::::S     SSSSSSS
KK::::::K  K:::::KKKYYY:::::Y   Y:::::YYYS:::::S            
  K:::::K K:::::K      Y:::::Y Y:::::Y   S:::::S            
  K::::::K:::::K        Y:::::Y:::::Y     S::::SSSS         
  K:::::::::::K          Y:::::::::Y       SS::::::SSSSS    
  K:::::::::::K           Y:::::::Y          SSS::::::::SS  
  K::::::K:::::K           Y:::::Y              SSSSSS::::S 
  K:::::K K:::::K          Y:::::Y                   S:::::S
KK::::::K  K:::::KKK       Y:::::Y                   S:::::S
K:::::::K   K::::::K       Y:::::Y       SSSSSSS     S:::::S
K:::::::K    K:::::K    YYYY:::::YYYY    S::::::SSSSSS:::::S
K:::::::K    K:::::K    Y:::::::::::Y    S:::::::::::::::SS 
KKKKKKKKK    KKKKKKK    YYYYYYYYYYYYY     SSSSSSSSSSSSSSS   
                                                            
                                                            
                                                            
                                                            
                                                            
.--.   .--.      ____     __     .-'''-.  
|  | _/  /       \   \   /  /   / _     \ 
| (`' ) /         \  _. /  '   (`' )/`--' 
|(_ ()_)           _( )_ .'   (_ o _).    
| (_,_)   __   ___(_ o _)'     (_,_). '.  
|  |\ \  |  | |   |(_,_)'     .---.  \  : 
|  | \ `'   / |   `-'  /      \    `-'  | 
|  |  \    /   \      /        \       /  
`--'   `'-'     `-..-'          `-...-'   
                                          



__/\\\________/\\\_        __/\\\________/\\\_        _____/\\\\\\\\\\\___        
 _\/\\\_____/\\\//__        _\///\\\____/\\\/__        ___/\\\/////////\\\_       
  _\/\\\__/\\\//_____        ___\///\\\/\\\/____        __\//\\\______\///__      
   _\/\\\\\\//\\\_____        _____\///\\\/______        ___\////\\\_________     
    _\/\\\//_\//\\\____        _______\/\\\_______        ______\////\\\______    
     _\/\\\____\//\\\___        _______\/\\\_______        _________\////\\\___   
      _\/\\\_____\//\\\__        _______\/\\\_______        __/\\\______\//\\\__  
       _\/\\\______\//\\\_        _______\/\\\_______        _\///\\\\\\\\\\\/___ 
        _\///________\///__        _______\///________        ___\///////////_____

                                                            

        
        

 /$$   /$$ /$$     /$$  /$$$$$$                                                   
| $$  /$$/|  $$   /$$/ /$$__  $$                                                  
| $$ /$$/  \  $$ /$$/ | $$  \__/                                                  
| $$$$$/    \  $$$$/  |  $$$$$$                                                   
| $$  $$     \  $$/    \____  $$                                                  
| $$\  $$     | $$     /$$  \ $$                                                  
| $$ \  $$    | $$    |  $$$$$$/                                                  
|__/  \__/    |__/     \______/                                                   
                                                                                  
                                                                                  
                                                                                  
             /$$       /$$                                                        
            | $$      | $$                                                        
            | $$      | $$                                                        
            |__/      |__/                                                        
             /$$       /$$                                                        
            | $$      | $$                                                        
            | $$      | $$                                                        
            |__/      |__/                                                        
                                                                                  
                                                                                  
                                                                                  
 /$$   /$$ /$$$$$$$$ /$$$$$$$$ /$$$$$$$                                           
| $$  /$$/| $$_____/| $$_____/| $$__  $$                                          
| $$ /$$/ | $$      | $$      | $$  \ $$                                          
| $$$$$/  | $$$$$   | $$$$$   | $$$$$$$/                                          
| $$  $$  | $$__/   | $$__/   | $$____/                                           
| $$\  $$ | $$      | $$      | $$                                                
| $$ \  $$| $$$$$$$$| $$$$$$$$| $$                                                
|__/  \__/|________/|________/|__/                                                
                                                                                  
                                                                                  
                                                                                  
 /$$     /$$  /$$$$$$  /$$   /$$ /$$$$$$$   /$$$$$$  /$$$$$$$$ /$$       /$$$$$$$$
|  $$   /$$/ /$$__  $$| $$  | $$| $$__  $$ /$$__  $$| $$_____/| $$      | $$_____/
 \  $$ /$$/ | $$  \ $$| $$  | $$| $$  \ $$| $$  \__/| $$      | $$      | $$      
  \  $$$$/  | $$  | $$| $$  | $$| $$$$$$$/|  $$$$$$ | $$$$$   | $$      | $$$$$   
   \  $$/   | $$  | $$| $$  | $$| $$__  $$ \____  $$| $$__/   | $$      | $$__/   
    | $$    | $$  | $$| $$  | $$| $$  \ $$ /$$  \ $$| $$      | $$      | $$      
    | $$    |  $$$$$$/|  $$$$$$/| $$  | $$|  $$$$$$/| $$$$$$$$| $$$$$$$$| $$      
    |__/     \______/  \______/ |__/  |__/ \______/ |________/|________/|__/      
                                                                                  
                                                                                  
                                                                                  
  /$$$$$$   /$$$$$$  /$$$$$$$$ /$$$$$$$$                                          
 /$$__  $$ /$$__  $$| $$_____/| $$_____/                                          
| $$  \__/| $$  \ $$| $$      | $$                                                
|  $$$$$$ | $$$$$$$$| $$$$$   | $$$$$                                             
 \____  $$| $$__  $$| $$__/   | $$__/                                             
 /$$  \ $$| $$  | $$| $$      | $$                                                
|  $$$$$$/| $$  | $$| $$      | $$$$$$$$                                          
 \______/ |__/  |__/|__/      |________/                                          
                                                                                  
                                                                                  
                                                                                  
                                  

⢀⡴⠑⡄       ⣀⣀⣤⣤⣤⣀⡀             
⠸⡇ ⠿⡀   ⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀          
    ⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆         
    ⢀⡀⠁  ⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆        
   ⢀⡾⣁⣀ ⠴⠂⠙⣗⡀ ⢻⣿⣿⠭⢤⣴⣦⣤⣹   ⢀⢴⣶⣆ 
  ⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦⣴⣾⠁⠸⣼⡿ 
 ⢀⡞⠁⠙⠻⠿⠟⠉ ⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟⠉      
 ⣾⣷⣶⠇  ⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇       
 ⠉⠈⠉  ⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇       
       ⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇       
        ⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿        
      ⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇        
      ⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃         
       ⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁          
         ⠉⠛⠻⠿⠿⠿⠿⠛⠉



#                            ,.--------._                                            #
#                           /            ''.                                         #
#                         ,'                \     |"\                /\          /\  #
#                /"|     /                   \    |__"              ( \\        // ) #
#               "_"|    /           z#####z   \  //                  \ \\      // /  #
#                 \\  #####        ##------".  \//                    \_\\||||//_/   #
#                  \\/-----\     /          ".  \                      \/ _  _ \     #
#                   \|      \   |   ,,--..       \                    \/|(O)(O)|     #
#                   | ,.--._ \  (  | ##   \)      \                  \/ |      |     #
#                   |(  ##  )/   \ `-....-//       |///////////////_\/  \      /     #
#                     '--'."      \                \              //     |____|      #
#                  /'    /         ) --.            \            ||     /      \     #
#               ,..|     \.________/    `-..         \   \       \|     \ 0  0 /     #
#            _,##/ |   ,/   /   \           \         \   \       U    / \_//_/      #
#          :###.-  |  ,/   /     \        /' ""\      .\        (     /              #
#         /####|   |   (.___________,---',/    |       |\=._____|  |_/               #
#        /#####|   |     \__|__|__|__|_,/             |####\    |  ||                #
#       /######\   \      \__________/                /#####|   \  ||                #
#      /|#######`. `\                                /#######\   | ||                #
#     /++\#########\  \                      _,'    _/#########\ | ||                #
#    /++++|#########|  \      .---..       ,/      ,'##########.\|_||  Donkey By     #
#   //++++|#########\.  \.              ,-/      ,'########,+++++\\_\\ Hard'96       #
#  /++++++|##########\.   '._        _,/       ,'######,''++++++++\                  #
# |+++++++|###########|       -----."        _'#######' +++++++++++\                 #
# |+++++++|############\.     \\     //      /#######/++++ S@yaN +++\                #
#      ________________________\\___//______________________________________         #




                                     .-.
            ,                     .-' ,c'.
         __rK                    _)a  7  ;
        /  ~,)                  (_,      (
      _;   /a(                   |_.    :'\
      L/\.'__/                   \       ' )nnnK-.
      S  / (_                  .- L,-'   .dHHHb   |
      S( '\_\\                / dHb'----'dHHHHb    \
      S \  ,  )      _,-._   / dHHHb"x.dHHHHHHb     \
      S |'. '.______/_U/_ '.-z/dHHHp   'dHHHHHb\     |
     [H |  '..___.--'._C__  ) |         dHHHHHHb\ _   \
     /| |_  | \     L/'--._/_ ;                  k '  /
     |//- '-. ---.__         '|                 /     |
      (       '-.   '.        |               _'-.  _/
  .."' `.,  _ ,  :  | \      _\             ,/ ,  '/
."       ':   .     : |   .-' '',          : |/(/\]/
          \  /:  '  | :  /_      '...... .'/      |
           |     |  : / .' '--.__,     __.'\      /
           |   : ;  |/ |         '----'L,  |     /
            \  : .   \  '-.________ /   ]  |____/
    snd     L_____'..'           _.7' _/  <,    >
                                <___.'     /    \
                                           \____/



                                    ⢀⣠⣄⣀⣀⡀                            
                            ⣠⣾⠟⠋⠙⠋⠉⠙⢷⣦⡀                         
                   ⣤⣶⣶⣄   ⢠⣾⣿⣁⡀      ⢑⣿⡆   ⢠⣾⣿⡄                 
                   ⢿⣿⣿⣾⣦⡀⢠⣾⡿⣛⣛⡻⢷⣄  ⣴⣾⣿⠛⠻⠦⣄⣴⣿⣿⡿⠃                 
                    ⠈⠉⠉⠻⢿⣿⣿⣿⣿⣿⢿⣿⣿⣧⢼⣿⣿⣿⠿⣿⣇⢸⡟⠉⠁                   
                        ⣿⣿⠿⢿⣾⣿⣤⠿⠋ ⠈⠻⢿⣿⣧⣿⠟⣬⡇                     
                       ⣼⣿⠃  ⢀⣴⣖⣶     ⢀⡈  ⢘⣾                     
                       ⣿⣿⣶⣶⣶⠿⠿⠿⠿⠷⠶⠶⠶⠛⠋⠻⣦⣤⣀⡼                     
                       ⢿⡇ ⣿⠻⢷⣤⣀   ⠈   ⣀⣈⡻⢿⣇                     
                      ⣠⣿⡿⠛⡏⠁⠂⠘⠭⢿⣒⣒⡒⠒⠒⠊⠉⠁  ⣿⠤                    
                     ⣰⣿⠟⠁⡄⠣              ⢀⡌⠙⠲⣤⣀⠠⣀               
                   ⢀⣴⣿⣏  ⢿⡄             ⡀⠋    ⠈⠙⠚⠓⠶⢤⣀           
                 ⣠⣴⣿⣿⣿⣿⣶⣀⡴⠛⢷⣄⣠⣄⡀       ⠐⠁           ⠈⠉⠳⢦⡀       
           ⢀⣀⣤⣤⠴⠾⣿⣿⣿⣿⣿⠟⠛⠿⣿⣦⣄⠙⢻⣿⣷⣦⡤⠤⠶⠒⠛⠁⣠⠏               ⠹⣆      
        ⢠⣴⡾⠏⠁    ⠰⠿⠟⠋    ⠈⠉⠛⠙⠋⠉⠉     ⣀⡴⠃                 ⠈⢧⡀    
      ⢀⣴⡿⠋                        ⠐⠒⠋⠁                    ⠈⢷    
     ⢀⣾⡿⠁                      ⢉⡁                          ⠈⡇   
    ⢄⣾⡟                       ⡀⢸⡁               ⣴⣧⢀⡀        ⣧   
    ⣼⣋⣧⣶   ⢀⡀⣀⣦                ⢸⠃             ⢀⡤⣼⣿⣿⣟⣤⡀      ⠘⣦  
    ⣿⡟⡇⣿⣤⣤⣴⣼⣿⣿⡇                ⢼⣷⣦           ⠠⠏⣴⣿⣿⠋⠉⠉⠛⠋⡄⠂    ⠈⣇ 
   ⢀⣿⣷⣜⢿⣿⣿⣿⣿⣿⣿⣟⢿⣷⣦⡀           ⣶⠾⣿⣿⣷       ⠐⠖⣠⣶⣿⣟⣿⡇            ⢸⡀
  ⢀⣾⠋⠻⣿⡶⠍⠙⠛⢿⣿⣿⣿⣮⡙⠿⣿⣶⣤⣄⣀⣤⣤⣤⣤⡀⢀⣈⣁⣰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿             ⢸⡇
  ⣾⠇  ⠘⢷⡇   ⢿⣿⣿⣿⣿⣶⣼⣿⣿⣟⣻⣿⣿⣿⣿⡿⠟⠛⠁ ⠉⠻⢿⣿⣶⣤⣴⣶⣶⣤⣶⣿⣿⣿⣿⣿⣿⡆            ⢸⠇
 ⢸⣿   ⢠⡞    ⢾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣟⣋⣠⣀       ⢉⣛⢻⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇  ⢀         ⣸ 
 ⢸⡏   ⣼⠁    ⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⠛⠿⡿⠛⠉⠉⠉⠁ ⢀     ⠉⠰⠿⠿⠛⠻⠟⠉⠁⢩⢹⣿⣿⣄ ⠸⣆        ⡇ 
 ⣿⢿  ⣰⠇     ⣿⡟⢻⣿⣿⣿⣿⣿⡟⠻⢶⣤       ⢸⣄             ⣸⣿⢿⣿⣿⣦ ⢹⣆       ⡇ 
⢀⡟⠺ ⢐⡿    ⢀⣼⣿⠁ ⢻⣿⣿⣿⣿⣿⣷⣤⣿⣤⣤⣤⣤⣶⡄  ⣿⣇⣤⣤⣀⣀⡀     ⠈⢿⣷⣿⡾⠁⢿⣿⣷⣿⣿⡷      ⡇ 
⢸⡇ ⠘⣿⡁  ⢀⣰⣿⣿⠃   ⢻⣿⣽⠋⠛⢯⢿⣿⠛⠛⠋⠉⠙⠛⠲⣄⠉⠉⠁⠈⠉⠙⠛⠷⣦⣤⣤⣌  ⢸⡟⠁  ⠻⣿⣿⣿⣍      ⢧ 
⢸⠁  ⢹⣷⣿⣿⣿⣿⣿⠋    ⢸⣿⢢ ⠂ ⣭⣿⡀      ⢸⡉       ⠉     ⡿     ⢹⣿⡿⠉      ⡾ 
     ⠋⣿⣿⣿⡟⠁     ⣼⣏⠈⠁⢰ ⢨⣿⣧⣀⡀⣠   ⣸⡁            ⢠⡇     ⣸⡍⠁      ⣠⣷ 
      ⠙⢿⣿⡇     ⢠⣿⠟⠇ ⠈⠑⢦⣿⠿⠿⠿⠿⠶⢀⢀⣸⠿⣶⣦⣠⡖       ⢀⣿      ⡿        ⠘⢻⡆
        ⣼⡇     ⣸⡗      ⠙⠷⡄⣀  ⠻⠟⠃    ⠤       ⣾⡟     ⢰⡇         ⢸⡇
        ⠹⠇     ⣸⣿⠠⢰⣶⠄   ⢀⣀ ⢠  ⢠⡆         ⢀⣀⣙⣿⠁     ⣸⣷         ⣾⠇




                           ⢀⣀⣠⣤⣤⣤⣤⣤⣄⣀                            
  ⢀⣴⣶⣦⡀                ⣀⡴⠶⠛⠉⠁        ⠉⠓⠶⢄⡀                       
 ⣴⠏ ⢸⣿⠻⡄            ⣠⡴⠛⠉                 ⠉⠳⢦⡀                    
⣸⠁  ⢸⣿ ⢱⡀         ⣠⡾⠋   ⢀⣀                  ⠙⢦⡀                  
⣇⢀  ⢸⠟⠃ ⢧⡀      ⢀⣼⠏  ⣠⣤⣶⣿⣟⢳⣶⣶⣤⣄⣀⡀             ⠙⣦                 
⠘⠿⣶⣴⣤⣀⡀  ⠱⣄    ⢠⡿⢋⡇⢀⣾⡿⠿⠛⠋⠉⠉⠉⠛⠻⠿⢿⡿⠗             ⠈⢧⡀               
    ⠉⠙⠻⢦⣄ ⠈⠳⢦⣀⣰⠟⢁⣨⡵⠏⠉                    ⣴⣶⣶⠶⣦⣤⣀⣨⡷⣄           ⡀⠐⠲
        ⠙⢳⣄  ⢤⣥⡼⠛⠛⠇     ⣀⣀⣉⣛⡳⢤⡀            ⠉⠙⠛⠷⠿⢿⣇⣽⣦        ⣠⡞⠁  
         ⠐⠹⣦⣀⢚⠁⠂⠲⢦⣤⣀⣀⣤⣶⠿⢻⣭⣭⡛⠻⣦⡽⣦           ⣀⣀⣀   ⠉⠙⢿⣧     ⣠⡼⠋    
          ⢀⣿⡏⠈     ⠉⠛⠿⣽⣶⣿⠿⣿⣿⣀⣈⣷⡸⣆⡤⠤⠂  ⠠ ⡀ ⣺⣭⣥⡴⣦⣤⣅   ⢸⡀ ⣠⡴⠚⠉  ⠲⣄  
          ⣾⣿⠄          ⠉⠙⠛⠛⠋⠊⠉⠁⠈⢁⡀      ⠳⣼⣏⣿⣿⣿⣦⠈⠙⢷⡀  ⠉⠉  ⢀⣀⣤⠴⠶⠿⠿⠦
         ⣸⡿⠃               ⢀⡤             ⠙⠻⠿⢿⣛⠒⠒⢛⠃   ⢀⡤⠞⠋       
        ⢰⡿⢁        ⣀⣀⣀    ⣴⣏  ⣀⡖              ⠈⠉⠉⠁   ⢰⣏          
        ⣾⡇⢸      ⣰⣾⡿⠿⠿⠛⠓  ⢿⣿⣿⣿⣿⣿⣶⣤⣀                  ⠈⠋⣆         
       ⢠⣿⢡⠘     ⢚⡏⠁        ⠈⠁⠙⠻⢿⣿⣯⡛⠻⢶⣶⣶⣶⣶⣶⣿⣷⣶⣶⣁        ⠙⡆        
       ⢸⣿⣸⡁     ⣾⠁⢙⢶⣄⡀           ⠉⠉⠛⠓⠒⠒⠛⠉⠉⠉⠉⠉⠁⠈⠙⠶⣾⣷⣆    ⢹        
       ⣾⣧⣿⠃    ⢸⡇ ⠈⠁⠈⠙⠳⢦⣄⡀                        ⠙⢿⣷   ⢸        
      ⢠⣿⡿⠸     ⢸⡇        ⠉⠛⠲⠦⢤⣤⣄⣀⡀               ⣀⡤⠈⢿⡇  ⢸        
   ⣀⣴⡾⢻⣿⠁      ⠘⣿              ⠉⠉⠙⠛⠒⠒⠲⠶⠶⠶⠶⠦⢤⣤⠤⠴⠒⠋⠉  ⠈⠃  ⡞        
⣴⣾⠿⣋⣭⣴⣿⠃        ⢻⡆                                     ⢰⡇        
⣫⠾⣋⣽⣿⣷⣿   ⠙⢧⡀    ⠷                                     ⢸⣿⣆       
⠋⣼⣿⢿⣶⣿⡇   ⢀⠈⢿⣄                                         ⢸⣿⡮⡛⣦⣄    
⣤⣿⣿⣾⣿⣿⡆   ⠙⠄⠈⠻⣷⡀                                       ⣼⢻⣷⢹⡎⣿⣷⣤⣀⣀
⣿⣿⡿⣿⣿⠤⣫⡀      ⠈⢷⣄                                     ⣼⢹⣬⣿⡞⢻⡿⣿⣧⡻⢿
⣿⣿⣾⣿⡯⣠⣿⡇        ⠙⣷⡄                                  ⣼⠃⢸⣿⣿⠦⡄⢹⣾⣿⣷⠙
⣿⣿⣿⣿⡿⠋⣿⣧          ⠉                              ⢀⡴⢀⡼⠃ ⢸⣿⡇⢠⣄⣘⣿⣷⡿⣷
⣿⣿⣿⣿⡷⠘⣿⣿                                        ⡴⣋⣴⠟⠁ ⣠⡿⣿⣇⣀⠉⣿⣿⡋⠱⣏
⣿⣿⣿⣿⣧⠸⢻⣿⡆                                    ⣠⡴⣾⣾⠟⠁  ⣼⡏⣷⣿⣛⢻⣶⣿⠿⠿⣆⣟
⣿⣿⣿⣿⣿⡂ ⣿⣧                                  ⣠⣾⣽⡾⠟⠁   ⣴⡟⢷⣿⣏⠛⢿⣿⣦⣄⡀⠛⠛
⣿⣿⣿⣿⣿⣧⠠⠈⢿⡆                            ⠰⠶⠶⣶⣿⡿⠛⠉    ⢀⣾⣿⢻⣿⠿⣿⡷⣾⣿⣍⣿⡇⢀⣴
⣿⣿⣿⣿⣿⣿⡆ ⠸⣷⡀            ⠉⠋⠓ ⠠⠄⢀         ⠴⠟⠉      ⣀⣼⣿⠟⠁⣾⣿⣧⣼⣏⢿⣯⡀⣽⠃⣾⠁
⣿⣿⣿⣿⣿⣿⣿⡄ ⢹⣿⡄                    ⠈⠈⠁⠐⠂         ⢠⣤⣼⡿⠋⢀⣾⣇⠈⣿⣏⣻⡟⠉⣿⢋⣿⠛⣷


                                           ⣰⣶⣴
    ⡀         ⢀⣠⣤⠖⠛⠉⣉⡙⠛⠒⠢⢤⡀           ⢷⣄  ⣠⣿⣿⡿
  ⣠⣾⣿⣧      ⢀⣴⡿⠥⠤⠶⠚⠛⢿⣍⡉   ⠈⠑⢄       ⢀⡀⠈⡿⢄⣴⡏⢉⡿⠁
  ⠻⢿⣿⣿⣇    ⣰⣿⣿⣷⣶⣦⣤⣤⣤⣤⣯⣽⣶⣦⣤⣤⣴⣶⣷⡄    ⢠⣿⣿⣶⣧⢀⠏⢡⠞  
    ⠈⠙⠻⣷⣄⣀⣴⣿⣿⣷⣶⣿⣿⣿⣿⣿⣿⣇⣽⣿⣯⣿⣿⣿⣿⣭⡝⣆  ⣠⣾⣿⠿⠛⢻⣾⡔⠁   
       ⠈⣿⣻⣿⣿⣿⣿⣻⣿⣿⣿⣿⣧⡴⠿⠿⢿⣿⣿⣿⣿⣿⢿⣿⣾⠳⣶⡟⠉   ⠘⣿⣧    
        ⡿⠋ ⠈⠙⠛⠛⢻⡟⢉⣩⠿⠶⠶⡦ ⠉⠙⠻⣿⠿⠯ ⠈ ⢻      ⠸⣿⣆   
       ⣰⠃    ⢀⣴⣿⣷⣾⣅⣀  ⢻⣯⡀⢀⣀⣹⣦⣄   ⠘⠇      ⠹⣟⣆  
      ⢀⡟  ⢀⣤⣶⠿⠋⠉⠙⠛⠿⣿⣿⣿⣿⣿⡿⠟⠛⠻⣿⣿⣿⣦⣄ ⠸⡀ ⢀⡠⠶⠒⢉⣹⠿  
      ⢸⣇  ⡿⢋⣀     ⢀⡀⠒⠋⠈⠻⡇   ⠈⠙⣿⣿⣿⣷⡄⢹⢋⣁⡤⠔⠚⠉    
    ⣠⣾⣿⡇   ⠘⢿⣿⣿⣿⣿⡷⢾⣷⣤⣤⣤⣤⣵⣶⣶⣶⣶⣶⣿⡇⢹⠟ ⢘⠉         
  ⣠⣞⣯⠞⢻⡇    ⠈⠛⢿⣿⣿⣦⣾⣅⣰⣿⣈⣁⣽⣥⣼⣽⣿⡿⠃ ⠘  ⡈          
 ⢀⡏⡽⠁ ⠈⢿⣤      ⠩⣽⣿⡽⠯⠭⠭⠿⠟⠿⡿⠟⠋⠁     ⢰⠇          
 ⢸⢁⠇    ⢻⣆       ⠉⠉⠛⠛⠛⠛⠛⠛⠿⣇       ⢸           
 ⡾⢸      ⢻⣷⡄              ⣙⣓⡄    ⢠⠏           
⢠⣧⡇       ⣿⡟⣷⣄          ⢰⣘⠉⠉   ⢀⡴⠃            
⣼⡇⣷       ⡟ ⡞⠈⠓⠶⣤⣀⡀     ⠈⢻⣧⣀⣠⠔⠊⠁              
⣿⢀⣿⡧     ⢸⠁⡼     ⠈⠉⠛⠛⠛⠛⠛⠛⢿⠿⢻                  
⣿⣼⢹⣧     ⣿⢠⠃             ⠘⡆⠈⡆                 
⠹⣿⡈⠛⠂    ⢻⣿              ⢀⣽⣴⠃                 
 ⠙⢿⠄     ⣾⣿             ⢠⠞⣹⠋                  
         ⢹⣿            ⢠⠏⣰⠃                   
   ⣀⣀⣀⣀⣀⣠⣿⠿⡀          ⣠⠏⡰⠃                    
  ⢼⣿⣽⣇⣸⡏⣁⢀⣤⡿        ⢠⡾⠃⠐⠓⠤⣄⣀⣀⣀⣀               
    ⠈⠉⠉⠙⠉⠉          ⠈⠛⠲⠦⠤⢤⣄⣉⣀⣿⣻⣷⡄             
                            ⠉⠉⠉⠉              
 ⣀   ⢀⡴⠊⠉⠉⠙⠲⣄   ⢀ 
⣼⣹⠳⣀⢠⣿⠿⢶⣜⠒⢺⣤⠿⣧⢀⡼⢧⣳
⠈⠉⠑⢮⠉⢠⣶⣼⣽ ⣯⣤⡶⡌⢹⠊⠉⠁
   ⡜ ⠉⢛⣯⡘⠉⠛⣻⡛⠋⠘⡄  
   ⡇⢀⢶⠊⠛⡑⠒⡖⠙⠓⢤ ⡇  
   ⡇⠈ ⠙⠒⠣⢤⡧⠴⠒⠃⠁⡅  
   ⠳⡀  ⢀⣀⣀⣀   ⣠⠃  
    ⠈⠦⣀     ⣠⠞⠁   
      ⠈⠉⠉⠉⠉⠉       

                                         
         ⣰⡾⣦⡀                 
        ⣸⡏ ⡈⢿⡀                
       ⢀⣿ ⣸⡇⢸⡇             ⣠⡶⢶
       ⣼⡇⢰⡿ ⢀⡇           ⣠⡾⠉⡀⣾
      ⣰⡟⢠⣿⠿⠁⢸⡇        ⢀⣠⡾⠋⣠⠞⢷⡏
     ⣴⡟⢁⣾⣿⡭ ⣼⠃      ⣀⡴⠛⠁⣠⣾⠋ ⣾⠃
   ⢀⣾⠟ ⣼⣿⣿⠃⢰⡟     ⣠⡾⠋ ⢀⣾⣿⠃⢀⣾⠏ 
   ⣼⡿ ⢰⣿⡿⠁⢠⡟     ⣼⡟⠁ ⣴⣿⠿⢀⣴⣿⠋  
   ⣿⠇ ⣾⡟⠁⣰⡟     ⣸⡟  ⣼⣿⠉⣴⣿⠟⠁   
   ⣿⡀ ⣿⡇⢰⡿      ⣿⠃ ⣸⡿⢁⣾⠟⠁     
   ⢻⣇ ⢿⡇⢸⡇      ⣿ ⢠⡟⢠⣿⠋       
   ⠈⣿⡀⠸⡇⣿⢄⡀⣀⣀⣀⣀⣰⣿⡄⣼⢁⣾⠃        
    ⠘⣷ ⣷⢿⠿⡿⡟⡿⢟⠉⢉⣿⣿⡟⢸⠇         
     ⣿⡀⠸⢸⣷⣴⣤⣤⣾⣶⣈⢙⡿⠃⡟          
     ⢸⡇ ⠘⠇⡹⠟⠋⠉⠉⠉⠻⡀⠰⣧⣄⣀        
     ⣸⠇   ⣠⡶⠟⠛⠛⠛   ⣀⣭⣝⣷       
     ⣿    ⢉⠔⣊⣁⠂  ⢀⡾⢆⠈⢹⡿       
    ⣰⠟    ⢀⡾⢱⡤⢹  ⢸⣟⣲⢡⡏        
   ⣠⠟     ⢈⠑⠒⠒⠋  ⠘⣯⡎⢾⡀        
 ⢀⣴⠋       ⠙⠛⠉⢀ ⠠⠤⠼⢷⣄⠹⣄       
⢠⡾⠃        ⢀⡠⠖⠁     ⠈⠙⠻⣄      
⣼⡇    ⢰⠃⡾⢋⠑      ⡀     ⠈⢷⣄    
⣿⡇    ⡏  ⢹⡇      ⢿⣄⡀     ⢻⡄   
⢹⡇⢠   ⠁  ⢸⣇     ⠈⠒⠉⠁      ⡇   
⠈⢿⡌⢷⣤    ⢸⣿⣆             ⢠⡇   
 ⠘⢷⣦⠙⠷⣄  ⠸⣏⠙⣮⡢⣀          ⣼⠇   
   ⠙⠷⠶⣦⣀⣠ ⢹⡷⢌⡻⣦⣁       ⢤⣶⠟    
      ⠈⠙⠿⣧⡀⠻⣎⣁⡀⢉⠙⠒⠶⠶⠶⣲⡞⠉⠁     
         ⠈⢷⡄⢈⠻⢷⣤⣀⣁⣀⣛⡻⢹⠇       
          ⠘⣷ ⠁ ⠉⣉⣉⣉⣉⡴⠏        
           ⠛⠷⠦⣤⣤⠴⠟⠋⠉          

𓂃 ࣪˖ ִֶָ𐀔 ⣿⣿⡿⣿⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡣      ⣀⡄                                                        ⠈⠉⠉⠉⠒⠲⢤⣦⣀⡀⠉⠻⢿⣿⣿⣿⣟⣿⡻⣟⢿⣽⡻⣽⣫⢟⣽⢫⡟⣭⢻⡭⢯⡽⣭⣻
⣿⣷⡿⣿⣾⢿⣻⣾⣷⣿⡾⣿⣾⣷⢿⣳⣿⣽⡟⠂ ⢀⣠⡶⠟⠋⠁                                                                ⠈⠙⠿⣶⣄ ⠻⣿⣿⣟⣶⣻⠽⣏⣶⢻⡵⣫⣞⢮⣳⢽⣎⣷⣽⣷⣿⣷⣿
⣿⣷⣿⢿⣽⣿⢿⣻⣾⣷⣿⡿⣷⡿⣿⣿⣻⣿⠁⠂⣰⠟⠉      ⣀⣀⣀⣀⣀⣀⣀⣀⣀⡀                                 ⣀⣀⣀⣤⣤⡤⠴⠶⠶⠶⠶⠶⠶⠶⠶⠤⣤⣤⣀⡀  ⠈⠻⣷⣄⠘⢿⣿⣞⣭⢿⣹⡞⣯⣳⢷⣾⣯⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣟⣾⣿⣟⣯⣿⣿⢿⣽⣷⣿⡿⣿⣿⣽⣿⡏⢀⡜⠁ ⣀⣤⡴⠖⠚⠉⠉⠉⠁   ⠉⠉⠉⠉⠙⠛⠛⠛⠛⠓⠶⠶⠶⠶⠦⠤⠤ ⠠⠤⠤⠤⠤⠤⠠⠤⠤⠄⠒⠒⠒⠒⠒⠒⠚⠛⠋⠉⠉⠉⠁              ⠈⠉⠛⠳⣦⣄⡀⠈⠻⣷⡜⣿⣾⡽⣯⣷⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣯⣿⣾⣿⢿⣽⣿⣿⣻⣾⣿⣿⣾⣟⣿ ⠎⢀⣴⠾⠋⠁                                  ⠉⠉⠂                                 ⠙⠿⣆ ⠘⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣷⣿⣟⣿⣾⣿⣿⣻⣾⣿⣯⣷⣿⣷⣿⡇⠈⣴⡫⠋                                                                           ⠈⢳⣄⠈⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣾⣿⣿⣽⣷⣿⣿⡿⣷⣿⡿⣿⣾⣿⠅⡸⠋⠄                                                                              ⠘⣷⡬⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣷⣿⣯⣿⣿⢿⣷⣿⣿⡿⣿⣿⣿⣿⠵⠁ ⡠ ⢀⠤⠂                                                                    ⠁  ⠒⢲⡄⡀⠘⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣾⣿⣟⣿⣿⣿⣿⡿⣟⣿⣿⣿⣽⡿ ⠄⣊⠔⠊                                           ⢀⡀                             ⢠⠆⢭⢻⣴⣍⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⢿⣽⡾⣿⣻⣯⣷⡿⣿⡿⣿⣟⣿⣿⣇⣠⣊⣶⣤⣶⣶⣶⣦⣦⣤⣤⣀⣀⡀⡀                ⡀    ⠁⠄        ⡐ ⢁⠂               ⢀⣀⣀⣄⣀⣤⣤⣤⣦⣶⣤⣶⣶⣶⣾⣶⣷⣿⣾⣿⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣏⡞⡶⣹⢣⡟⣼⢣⡟⣵⢫⢷⡹⡞⣭⡷⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣶⣶⣶⣦⣤⣤⣤⣀⣀⣀      ⡀   ⠈ ⠨     ⢈  ⠊    ⡄ ⠐⣀⣤⣴⣶⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⡿⣼⣳⢯⣷⣻⣼⣳⢿⣼⣻⢾⣵⣻⣼⢻⣸⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⣿⣿⣷⣤⡄  ⠁    ⡀⠘     ⠂        ⣰⣾⣿⣟⣿⣟⡿⣿⣿⣿⣿⣿⣿⣿⣿⣟⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣟⡷⢯⣟⣶⢻⣞⡽⣞⡷⣯⣟⢾⣳⢿⣿⣽⣿⣿⣿⣿⡿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⣿⡿⡟⣏⣿⣿⣿⠿⡶⣻⠿⣻⢿⣷⣄        ⠈⢀          ⢀⣼⣿⣿⡿⡹⣝⣻⣾⢿⡿⡿⣿⢿⣿⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣯⢟⣻⣞⢾⣛⡾⣽⢯⡽⣾⣹⢯⣟⣿⣿⣿⣿⢿⣿⣿⣿⣿⣶⣮⣿⣟⣿⣿⣿⣿⡿⣯⡵⣿⣭⣿⣶⣻⣿⣷⢛⣭⠾⢿⣯⢿⣿⡇     ⠂    ⠂       ⢀⣾⡿⣿⡏⣖⣺⣛⣯⣷⢻⣻⣧⣿⣿⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣯⣛⡷⣞⣯⢏⣿⢳⡯⣟⣳⢯⣟⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣾⣿⣿⣿⣿⣭⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿         ⠁  ⠨⠅    ⠈⣿⣷⣿⣿⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⡷⣻⢼⣏⡾⣛⣮⢿⣱⢯⢯⣷⣛⣾⠏⢿⠿⣿⡿⠿⠛⠛⠿⠛⠻⠻⠿⠿⠿⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⣿⣿⣿⣿⣿⣿⣿⣿⠇                   ⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠿⠿⠿⠿⠛⠛⠛⠛⠛⠛⠛⠛⠋⠛⠿⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⡱⢯⣞⣳⢟⣮⢯⡽⣫⢷⡞⣽⡞                    ⠉⠉⠙⠛⠛⠛⠛⠛⠻⠛⠿⠟⠛⠛                     ⠘⠛⠛⠉⠛⠉⠉⠉⠉⠉⠏⠈⠁                     ⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣷⡹⣏⡾⣱⡟⣮⢗⣯⡽⣞⣽⣳⡇⠆                         ⠈  ⣀                             ⢀⡀⣀⣀⣬⠁          ⠒⠤⣀⣀⡀        ⠠⡸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣧⢻⣜⣳⡝⣾⡱⣯⢶⡻⣜⣧⢻⡇⠁      ⢀⡴⠚⠁                 ⠳⣌⠗⠢⢄⣄                     ⢀⣠⣶⡿⠿⣿⠛⠉                ⠙⠳⢦⣄      ⣼⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣏⢷⣎⢷⡹⣖⠿⣜⡧⣟⡵⣞⣻⠱     ⢀⣴⠋                     ⠈⠻⣶⡀⠈⠳⣄                 ⢀⣰⣿⡟⠁⢀⠖⠁        ⣀            ⠙⢷⣤⡀  ⢠⣿⡏⠈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣟⠾⣜⢧⣻⣜⡻⣜⣳⡝⡾⡵⡟ ⠠    ⣽⠃   ⣀⣀⣤⣤⣤⣶⠶⠒⣶⣶⠶⢦⣴⣤⣤⣄⣀⡀   ⠈⠻  ⠙⡆                ⣴⣿⡏ ⡰⠃   ⣀⠄⣀⣠⠤⢠⣥⣤⣴⡾⠷⣶⣶⣶⣤⣤⣀⣀⡀  ⠈⢿⣿⣄ ⣾⡟  ⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣻⣝⣮⢳⣎⢷⡹⢮⡽⣹⢳⡇  ⠐⡀ ⢸⠃⣠⣤⠶⠛⠉⢸⣟⢧⣻⣷⣄⣠⣿⣿⣿⠂⣿⡇  ⠈⠉⠙⠲⣄     ⣽                ⣼⣿⡇ ⡇ ⢀⡴⠛⠊⠉   ⢸⣓⢞⣿⣀⣰⣿⣿⣿⣻⢻⢿⡇⠉⠓⢦⣀⠌⣿⣿⢧⠟⠁  ⠸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣷⣻⣼⢳⣎⢯⡝⣧⢻⣭⢻⠁   ⠱⠣⢿⡜⢳⠁   ⠘⣿⣚⠴⣻⣿⣿⣿⡿⢏⣂⣿⠃      ⡼    ⢰⠇                ⢸⡾⣷⡀⢃⠉⠒⢄⠁⠂    ⠘⡎⡞⡜⣿⣿⣿⣿⡿⢡⣋⣾⠃   ⣿⢛⣾⣿⡟⠂   ⠐⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟
⣿⣿⣿⣞⡷⣎⢷⡹⣎⠷⣎⡟       ⠁⠈⢧    ⠘⢯⣊⠵⣩⠙⡬⢑⢪⣼⠟  ⣀⡠⠴⠒⠞⠁ ⢀⠄⢠⡏                  ⢻⣽⣯⡀   ⠙⠒⠓⠤⣀⡀ ⠙⢧⣙⠦⣍⡛⡱⢌⣣⡾⠃   ⢠⢏⣸⡟⠉       ⠈⢛⣿⣿⣿⣿⣿⣿⣿⡿⠋ 
⣿⣿⢿⡾⣽⢎⡷⣹⢞⡽⡾⠁         ⠈⠙⢠⣄⡀  ⠈⠓⠶⣯⠶⠿⠋⠁ ⠈⠉⠁       ⢠⠏                    ⢿⡼⣷ ⢡       ⠉⢁⠂⠉⠚⠶⠷⠷⢟⣉⣀ ⠤⠤⠖⠓⡺⢿⣧          ⠈⢻⢿⡿⢻⡙⠏⠐  
⡿⢯⠿⣝⠧⡛⠼⣧⢫⡞⠁              ⠈⠉                 ⠄  ⠏                    ⠌⠸⣇⢻⡄ ⠑⢄⡀ ⠐               ⢀  ⠁⢏⣿⡆          ⠈⠘ ⠁⠈    
⠏⠡⠋⠘ ⠁⠈⢷⡟          ⠄                                         ⠤⢄⣀⣀⣀⡀  ⠑⣻⡌⢧   ⠙⠦⣄                   ⠘⣼⡇                   
       ⠈          ⠘⠈⡆                                            ⠉⠉⠛⣶⣧⣶⣹⣦⡳⡄   ⠈⠳⣤⡀               ⢀⣾⡿⠁                   
                                            ⢀⠄⠂⠁                     ⠈⠻⢿⣿⣿⣿⣶⣄    ⠙⢦⣄            ⣴⡿⠋                     
                                          ⢀⠔⠁                          ⠈⠙⢿⣿⣿⣿⣦     ⠉⠻⢶⢄⡀       ⠈⠁                       
                                         ⡰⠁                               ⠻⣿⣿⣿⣷⡄      ⠉⠋⢱⠢ ⡀                            
                                       ⢀⠔                                  ⢻⢿⣿⣿⣿⣧⣄                                      
                                     ⢀⡠⠂                                    ⠘⠿⣿⣿⣿⣿⣷⣤⡀                                   
                                  ⡠⠔⠊⠉                                       ⠶⠁ ⠈⠙⠻⣿⣿⣷⣤⡂⢄                               
                               ⣀⠔⠉                                                 ⠈⠛⢿⣿⣿⣦⡈⠢⡀                            
                             ⡠⠊                                                       ⠙⣿⣿⣿⣧⡈⡄                           
                           ⢠⠊                                                           ⠹⣿⣿⣿⣌⠢⡀   ⢀                     
                       ⠂  ⢠⠃                                                    ⢀⣀⡤⠄     ⢹⣿⣿⣿⡄                          
                          ⡾    ⢠⣠⣤⣄⣀                                         ⣠⣴⣾⣿⣧⠄  ⢀    ⣿⣿⣿⡇  ⠐⡀                      
                          ⢣    ⠘ ⠈⠉⠳⢯⣐ ⡀                                  ⣠⣴⣾⣿⣿⡿⠟⠁    ⠐  ⢀⣿⣿⣿⡃  ⠈⠁                    ⡀ 
                          ⠈⣄         ⠈⠓⢌⠂⢀                             ⣀⣴⣾⣿⣿⡿⠋⠁    ⠠     ⣸⣿⣿⠛                        ⡰  
                           ⠈⠦⢄⠈ ⠅⠁ ⢀    ⠉⠢⡑⢄                        ⢀⣴⣾⣿⣿⣿⡟⠋  ⠠⠂ ⡀   ⠈ ⢀⣼⡿⠛⠁                        ⣰⠡  
                               ⠂⠄ ⠁⠂ ⠂⢀   ⠈⢀⠓⢦⡀                   ⣠⣴⣿⣿⣿⣿⠟⠋  ⠐ ⡀⠐ ⠐   ⣠⡶⠟⠉                          ⢴⠣   
                                  ⠑⢄⠈  ⠈    ⢆⠂⠌⠐⠠⢀            ⢀⣠⣴⣾⣿⡟⠋⡁⠈     ⠐    ⣀⡴⠖⠋⠁                            ⣼⢣⠃   
                                       ⡈ ⢀        ⡨⠕⠒⠦⠤   ⢀⣀⠴⠾⠛⠋⠙⠉  ⠠⡠⠂⣉⠠⠂    ⣀⡴⠟⠉       ⢀                       ⣴⣯⠃    
                                       ⠈⠂⢄⡀     ⡠⠊                  ⠁⡐⡀ ⠈  ⣀⣤⠞⠉                                 ⣰⣿⠂     
                                           ⠁ ⠐⠈⠁                      ⠉⠓⠲⠒⠛⠉                                   ⣰⣿⠃      
                                                                                                              ⣰⣿⠣⠁      
                                                ⠄ ⠄                                                          ⣰⣿⠏        
                                                  ⠰⡐                                                        ⣸⣿⠏         
                                               ⠄⠂   ⡈                                                      ⣼⡿⠏          
                                                   ⠈  ⠁                                                  ⢀⣾⣿⡙           
                                                                                                        ⢠⣿⡟⠆            
                                                                                                       ⣰⣿⢟⠈             
              ⠠⡀                                                                                     ⣀⢾⣽⡋⠂             ⢠
               ⠈⠢⡀                                     ⠠⠂                                          ⢀⡴⣞⡟⠆⠁              ⣾
                 ⠈⠦⡀                                       ⣄⡉⠆                                   ⢀⡴⣫⢾⡙⠈              ⢀⡾⠅
                   ⠘⠢⣄                         ⠁                                               ⢀⠴⣩⠞⡑⠂              ⢀⣴⡿⠃ 
                     ⠈⠳⣤⡀                 ⢀⡀⢀⡐⠉ ⠄⡀                   ⡂                       ⡀⠴⣉⠞⠁⠂               ⣠⡾⠏ ⡀⢢
                       ⠘⠪⣷⢤⠢⡀                 ⠉⠐⠂⠄⣁⠒⠠ ⡀        ⡀⠄⠒ ⠂⢈⡁⠂⠄⠂                 ⡀⡄⠦⠙                 ⢀⣴⠾⠋⢀ ⢢⡐⣧
⡄                         ⠻⠿⣬⣷⡔⠦⣄                   ⠂⠠⠄⡈⠐    ⠂⠁⣀⠤⠔⠚⠈                  ⣀⠰⣈⠖⠱⠈ ⠁     ⢀⡰⠂   ⡀⢄⠐ ⠠ ⠋⠁  ⡄⣎⣵⣺⣽
⣿⣶⣄                          ⠈⢻⡅⠩⢹⡒⣦⢄      ⢀⡀ ⡀   ⠠     ⠈⠐⠡⠌⠂⠈    ⡠⠂⢠⠞ ⠈            ⡐⠰ ⠃⠄⠈       ⢀⣰⠏   ⢄⡲⠌⠂     ⡀⢄⡳⣼⣾⣿⣿⣿
⣿⣿⣿⣿⣶⣄⡀                        ⠈ ⠠⡈⢆⠉⠋⡆⠲⠐⠲⠒⢤⠤⠴⡤⠤⣬⣈⣄⣀⣀⡀ ⢀⣀⠄⣀⡀⣀⣠⣀⣀⣀⡤⢡⡴⡤⣤⣀⡄⠠⠄⠂⠄⠐ ⠂                 ⣤⡯⠃ ⡀⢈⣴⢋⢁⠂  ⡀⠈⡀⢦⣜⣾⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣶⣄                         ⠈⡉⠓⡴⠈ ⠤      ⢃⡲⠰⠊⠹⠋⠙⠹⠛⠉⠛⠿⣯⠛⣟⡹⢲⡛⡿⠿⠝⢋⠧⠛⡼                     ⣠⣢⢟⡉  ⢄⡴⠛⢀⡴⠃ ⠠⢀⠰⣰⣽⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣆⡀             ⠲⡄⢀          ⠔⡑⠢⠄⡠  ⠁   ⠁⣠⠔⣂⣄⡀⣠⣎⢵⢁⠠⡉⠁⡤⢠⠸⠁⠃⡆⡍⡰⠂ ⠃                  ⣀⣶⢞⡑⠂  ⠐⠈⢀⠴⣹⢁⢠⡘⣤⣧⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣤⡀⢀          ⠈⠗⣤           ⠲⠈⣄⠪⠰⢀⡤⡤⣀⣀⠐⣉⢡⡤⡤⠄⡀⠠⡆⡈⡀⡠⢅⣐ ⠈⢠⡀⠉⠃⠂⢄⡠⠠⢠             ⢀⣤⡶⢿⠘      ⢠⡇⣾⢇⣎⣶⣽⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠋⠉⢹⠶⣦⡀⠈⠁⡀ ⠈⢄    ⠉⢋⣦⣠             ⠘⣜⡵⣦⠫⠮⣴⡽⡎⠥⠨⠿⡰⠇⠇⡮⠣⠌⠢⢸⠡⠇⡩⠒⢹⢅⡻⠩⢀           ⢀⣠⣶⡿⢞⠙       ⡰⣃⣾⣿⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⠿⠛⠋    ⠈⢆⠈⠙⢶⣂⠘⡄  ⠂     ⠈⠓⢿⣦⣤⣀          ⠤⠧⢀⣆⢳⡐⠂⠤⡑⢠⠒⠑⠔⢇⡁⡀⣈⣒⢸⠣⠈⠶⠠⡡⢌⠘⠁⠈        ⢀⣠⣶⠾⣏⠓⠉         ⢱⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⡹⡜⡲⡝⡾⣽⣻⣿
⣿⣿⣿⠟⠛⠋⠁        ⢯  ⠠⠙⢶⡘⣆          ⠈⠉⠫⠻⢦⣤⢄⣄⣀⡀⢄⣀   ⠁⡆ ⢠⠆ ⡀⢀⣀⠉⡤ ⡀⡀ ⣈⣀ ⢀⣀⣀         ⣀⣤⣶⡿⡟⣝⠣⠋          ⣀⣼⣿⣿⣿⣿⣿⣿⣿⢿⣿⣿⣿⣿⢃⠎⡑⢨⠑⡌⠳⣥⠳⡽

*/


/*
                                                                                                                  aaa   aaa
 ██████  ███████ ███    ██ ███████ ██   ██ ██ ███    ██     ██ ███    ███ ██████   █████   ██████ ████████       a   a a   a
██       ██      ████   ██ ██      ██   ██ ██ ████   ██     ██ ████  ████ ██   ██ ██   ██ ██         ██         a tu  a był a
██   ███ █████   ██ ██  ██ ███████ ███████ ██ ██ ██  ██     ██ ██ ████ ██ ██████  ███████ ██         ██          a piotrek a
██    ██ ██      ██  ██ ██      ██ ██   ██ ██ ██  ██ ██     ██ ██  ██  ██ ██      ██   ██ ██         ██           a       a
 ██████  ███████ ██   ████ ███████ ██   ██ ██ ██   ████     ██ ██      ██ ██      ██   ██  ██████    ██            a     a
                                                                                                                    a   a
                                                                                                                      a
                                                                                                           
*/



/*                                  
   niggggggg   ggggg aaaaaaaaaaaaa   
  g:::::::::ggg::::g a::::::::::::a  
 g:::::::::::::::::g aaaaaaaaa:::::a 
g::::::ggggg::::::gg          a::::a 
g:::::g     g:::::g    aaaaaaa:::::a 
g:::::g     g:::::g  aa::::::::::::a 
g:::::g     g:::::g a::::aaaa::::::a 
g::::::g    g:::::ga::::a    a:::::a 
g:::::::ggggg:::::ga::::a    a:::::a 
 g::::::::::::::::ga:::::aaaa::::::a 
  gg::::::::::::::g a::::::::::aa:::a
    gggggggg::::::g  aaaaaaaaaa  aaaa
            g:::::g                  
gggggg      g:::::g                  
g:::::gg   gg:::::g                  
 g::::::ggg:::::::g                  
  gg:::::::::::::g                   
    ggg::::::ggg                     
       gggggg                        



                                                 
                                                 
                                                 
                                   68b           
                                   Y89           
___  __   ____     __       __     ___ ___  __   
`MM 6MM  6MMMMb   6MMbMMM  6MMbMMM `MM `MM 6MMb  
 MM69 " 6M'  `Mb 6M'`Mb   6M'`Mb    MM  MMM9 `Mb 
 MM'    MM    MM MM  MM   MM  MM    MM  MM'   MM 
 MM     MMMMMMMM YM.,M9   YM.,M9    MM  MM    MM 
 MM     MM        YMM9     YMM9     MM  MM    MM 
 MM     YM    d9 (M       (M        MM  MM    MM 
_MM_     YMMMM9   YMMMMb.  YMMMMb. _MM__MM_  _MM_
                 6M    Yb 6M    Yb               
                 YM.   d9 YM.   d9               
                  YMMMM9   YMMMM9                
                                         
*/


/* ten style nic nie robi 
    narazie nie styluje klasy code-flex 
    później ustawi watrość display na flex
    nastepnie zmieni kierunek flexa na kolumne 
    przerwa miedzy elementami wynosi 20px
    pozniej cos liczy

*/