.ric{
    position: absolute;
    transform: scale(0.001);
}

main{
    gap: 30px;
    text-align: center;
}

h1{
    margin-top: 20px;
    height: 70px;
}

h2{
    height: 42px;
    font-size: 2.3em;
    font-weight: 600;
}

.ric{
    position: absolute;
    top: 0;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    animation: rick 1200s linear;
}

.ric img{
    animation: rotator 4s linear infinite;
}

p{
    width: 100%;
    position: absolute;
    bottom: 40px;
}

@keyframes rick {
    from{
        transform: scale(0.0001);
    }
    to{
        transform: scale(2);
    }
}

@keyframes rotator {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}